@{
    ViewData["Title"] = "Home";
}

<div class="content-area text-center">
    <h1 class="display-4">Let's Get Bowling!</h1>
    <p class="funny-quote">"WHO DO YOU THINK YOU ARE?? I AM!!"</p>
    <p>
        So, you wanna be a bowler? Well, you've come to the right place. There are a few things you need to know about bowling. First off, bowling is not for the faint of heart. The pins, the heavy balls,
        the sore arms, the one-legged squats, and don't even get me started on those house shoes that come with absolutely no ventilation... Point is, if you want to get into bowling,
        you don't have to be good, but you sure do gotta have the right mindset.
    </p>
    <p>
        That's where that Pete Weber quote comes in handy. You ARE! Those pins don't stand a chance because it's not about how many times you gutter ball, it's about how many times
        you gutter ball, do the walk of shame in front of your friends to retrieve your ball, and then march back down the alley to throw your ball again! Stick with it, and you'll look like this fella in no time.
    </p>
    <img src="~/goodolpete.jpg" alt="Good Ol' Pete" class="bowling-image">
    <p>
        Now, let me give you a quick glimpse into what learning how to bowl from me looks like. I can't guarantee you'll be on a championship PBA tour, but I can guarantee that 7 times out of 10,
        you'll outshine everyone in your friend group. You'll be the go-to person for tips, and when they ask how you got so good, you'll casually say, "Oh this? Just a lil' somethin' I picked up from my good pal Al."
    </p>
    <div class="learned-skills">
        Here are just a few of the skills you'll master in my class: Aiming techniques, deciding when to bowl straight vs. hook, handling different oil patterns, selecting the best bowling foods,
        and most importantly, how to look like a fly guy(or gal) while takin' names and knockin' pins.
    </div>
    <a class="nav-link" asp-controller="Home" asp-action="Calculator">Bowling Calculator</a>
    <img src="~/badbowler.jpg" alt="Bad Bowler" class="bowling-image">
</div>
